asgiref
cloudinary
crispy-bootstrap5
dj-database-url
dj3-cloudinary-storage
Django
django-allauth
django-crispy-forms
django-social-share
django-summernote
django-taggit
gunicorn
oauthlib
pillow
psycopg2
PyJWT
python3-openid
pytz
requests-oauthlib
sqlparse
setuptools
